html, body{
  padding: 0px;
  margin: 0px;
  background: linear-gradient(135deg,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
  background-attachment: fixed;
}

body {
  text-align: -webkit-center;
  font-family: 'Roboto Mono';
  font-size: 14px;
}

input, textarea {
  border: none;
  outline: none;
}

textarea {
    position: relative;
    font-size: 14px;
    border-radius: 12px;
    padding: 10px;
    width: 472px;
    height: 50px;
    margin-right: 108px;
}

input[type="submit"] {
  position: relative;
  font-size: 24px;
  height: 70px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  left: 234px;
  top: -74px;
  background-color: #eff4f7;
}

input[type="submit"]:hover {
  background-color: #e6f4fd;
}

form {
  margin-top: 20px;
}

.main {
  width: 600px;
}

#flow {
  /* display: flex;
  flex-direction: column-reverse; */
  overflow-y: auto;
}

#flow div {
  margin: 12px 0px;
}

#flow div span {
  border-radius: 12px;
  white-space: pre-wrap;
}

.info {
  text-align: -webkit-center;
  font-size: 11px;
  padding: 4px 10px;
  background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
}

.message {
  text-align: -webkit-left;
  display: -webkit-inline-box;
  padding: 10px;
  background: linear-gradient(135deg,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%);
}

.left {
  text-align: -webkit-left;
}

.right {
  text-align: -webkit-right;
}

#online {
  margin-top: -50px;
  margin-bottom: 13px;
  text-align: -webkit-center;
  font-size: 12px;
  padding: 13px 10px;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  border-radius: 12px;
}